In [1]:
# The code was removed by Watson Studio for sharing.

In [3]:
!rm data.csv
!ls

11269.png   127602.png	   177.png    24823.png   6325.png  6410.png   7929.png
1146.png    135504501.png  222.png    3283.png	  6329.png  6569.png   8033.png
11473.png   13568.png	   240.png    33558.png   6335.png  67180.png  8053.png
11638.png   137201.png	   241.png    5206.png	  6360.png  674.png    8058.png
11646.png   140746.png	   243.png    552549.png  6375.png  69319.png  887.png
12228.png   14917.png	   24529.png  6115.png	  6386.png  7845.png   931.png
123257.png  176.png	   24547.png  6324.png	  6393.png  784.png    996.png

In [4]:
download_file_cos(credentials_1, 'data_raw.csv', 'data_raw.csv')
!ls

File Downloaded
11269.png   135504501.png  240.png    5206.png	  6375.png   7845.png  996.png
1146.png    13568.png	   241.png    552549.png  6386.png   784.png   data.csv
11473.png   137201.png	   243.png    6115.png	  6393.png   7929.png
11638.png   140746.png	   24529.png  6324.png	  6410.png   8033.png
11646.png   14917.png	   24547.png  6325.png	  6569.png   8053.png
12228.png   176.png	   24823.png  6329.png	  67180.png  8058.png
123257.png  177.png	   3283.png   6335.png	  674.png    887.png
127602.png  222.png	   33558.png  6360.png	  69319.png  931.png

In [5]:
!head -5 data.csv

cid,aid1,aid2,atom1,atom2,x_1,y_1,z_1,x_2,y_2,z_2,atom1_charge,atom2_charge,bond
6324,1,2,C,C,-0.756,0.0,0.0,0.756,0.0,0.0,0,0,1
6324,1,3,C,H,-0.756,0.0,0.0,-1.1404,0.6586,0.7845,0,0,1
6324,1,4,C,H,-0.756,0.0,0.0,-1.1404,0.3501,-0.9626,0,0,1
6324,1,5,C,H,-0.756,0.0,0.0,-1.1405,-1.0087,0.1781,0,0,1

In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

%matplotlib inline

In [7]:
data=pd.read_csv('data_raw.csv')

In [8]:
data.head()

,cid,aid1,aid2,atom1,atom2,x_1,y_1,z_1,x_2,y_2,z_2,atom1_charge,atom2_charge,bond
0,6324,1,2,C,C,-0.756,0.0,0.0,0.7560,0.0000,0.0000,0,0,1
1,6324,1,3,C,H,-0.756,0.0,0.0,-1.1404,0.6586,0.7845,0,0,1
2,6324,1,4,C,H,-0.756,0.0,0.0,-1.1404,0.3501,-0.9626,0,0,1
3,6324,1,5,C,H,-0.756,0.0,0.0,-1.1405,-1.0087,0.1781,0,0,1
4,6324,1,6,C,H,-0.756,0.0,0.0,1.1404,-0.3501,0.9626,0,0,0

In [9]:
data.shape

(9058, 14)

# Pairs

In [39]:
data['pairs']=(data['atom1']+'_'+data['atom2']).apply(lambda x:x.split('_')).apply(sorted).apply(lambda x:'_'.join(x)).apply(str.lower)

In [40]:
data.head()

,cid,aid1,aid2,atom1,atom2,x_1,y_1,z_1,x_2,y_2,z_2,atom1_charge,atom2_charge,bond,pairs,pairs_enc,distance
0,6324,1,2,C,C,-0.756,0.0,0.0,0.7560,0.0000,0.0000,0,0,1,c_c,0,1.512000
1,6324,1,3,C,H,-0.756,0.0,0.0,-1.1404,0.6586,0.7845,0,0,1,c_h,2,1.094056
2,6324,1,4,C,H,-0.756,0.0,0.0,-1.1404,0.3501,-0.9626,0,0,1,c_h,2,1.094044
3,6324,1,5,C,H,-0.756,0.0,0.0,-1.1405,-1.0087,0.1781,0,0,1,c_h,2,1.094091
4,6324,1,6,C,H,-0.756,0.0,0.0,1.1404,-0.3501,0.9626,0,0,0,c_h,2,2.155343

# Label Encode Pairs

In [41]:
from sklearn.preprocessing import LabelEncoder

In [42]:
le=LabelEncoder()

In [43]:
data['pairs_enc']=le.fit_transform(data['pairs'])

In [44]:
data.head()

,cid,aid1,aid2,atom1,atom2,x_1,y_1,z_1,x_2,y_2,z_2,atom1_charge,atom2_charge,bond,pairs,pairs_enc,distance
0,6324,1,2,C,C,-0.756,0.0,0.0,0.7560,0.0000,0.0000,0,0,1,c_c,0,1.512000
1,6324,1,3,C,H,-0.756,0.0,0.0,-1.1404,0.6586,0.7845,0,0,1,c_h,2,1.094056
2,6324,1,4,C,H,-0.756,0.0,0.0,-1.1404,0.3501,-0.9626,0,0,1,c_h,2,1.094044
3,6324,1,5,C,H,-0.756,0.0,0.0,-1.1405,-1.0087,0.1781,0,0,1,c_h,2,1.094091
4,6324,1,6,C,H,-0.756,0.0,0.0,1.1404,-0.3501,0.9626,0,0,0,c_h,2,2.155343

# Distance

In [45]:
def dist(row):
    return np.sqrt(np.square(row['x_1']-row['x_2'])+np.square(row['y_1']-row['y_2'])+np.square(row['z_1']+row['z_2']))

In [46]:
data['distance']=data.apply(dist,axis=1)

In [47]:
data.head()

,cid,aid1,aid2,atom1,atom2,x_1,y_1,z_1,x_2,y_2,z_2,atom1_charge,atom2_charge,bond,pairs,pairs_enc,distance
0,6324,1,2,C,C,-0.756,0.0,0.0,0.7560,0.0000,0.0000,0,0,1,c_c,0,1.512000
1,6324,1,3,C,H,-0.756,0.0,0.0,-1.1404,0.6586,0.7845,0,0,1,c_h,2,1.094056
2,6324,1,4,C,H,-0.756,0.0,0.0,-1.1404,0.3501,-0.9626,0,0,1,c_h,2,1.094044
3,6324,1,5,C,H,-0.756,0.0,0.0,-1.1405,-1.0087,0.1781,0,0,1,c_h,2,1.094091
4,6324,1,6,C,H,-0.756,0.0,0.0,1.1404,-0.3501,0.9626,0,0,0,c_h,2,2.155343

# Handle Imbalanced Data

In [51]:
data.shape

(9058, 17)

In [55]:
gb=data.groupby(['pairs','pairs_enc','bond']).count()
gb

                       cid  aid1  aid2  atom1  atom2   x_1   y_1   z_1   x_2  \
pairs pairs_enc bond
c_c   0         0     1027  1027  1027   1027   1027  1027  1027  1027  1027
                1      141   141   141    141    141   141   141   141   141
c_f   1         0       79    79    79     79     79    79    79    79    79
                1       15    15    15     15     15    15    15    15    15
c_h   2         0     3174  3174  3174   3174   3174  3174  3174  3174  3174
                1      274   274   274    274    274   274   274   274   274
c_n   3         0      261   261   261    261    261   261   261   261   261
                1       21    21    21     21     21    21    21    21    21
c_o   4         0      355   355   355    355    355   355   355   355   355
                1       27    27    27     27     27    27    27    27    27
c_si  5         0        4     4     4      4      4     4     4     4     4
                1        4     4     4      4      4     4     4     4     4
f_f   6         0       64    64    64     64     64    64    64    64    64
f_h   7         0      109   109   109    109    109   109   109   109   109
                1        1     1     1      1      1     1     1     1     1
f_o   8         0       25    25    25     25     25    25    25    25    25
                1        5     5     5      5      5     5     5     5     5
f_si  9         0        6     6     6      6      6     6     6     6     6
h_h   10        0     2502  2502  2502   2502   2502  2502  2502  2502  2502
h_n   11        0      307   307   307    307    307   307   307   307   307
                1       11    11    11     11     11    11    11    11    11
h_o   12        0      502   502   502    502    502   502   502   502   502
                1       12    12    12     12     12    12    12    12    12
h_si  13        0       18    18    18     18     18    18    18    18    18
n_n   14        0       18    18    18     18     18    18    18    18    18
                1        6     6     6      6      6     6     6     6     6
n_o   15        0       44    44    44     44     44    44    44    44    44
                1        8     8     8      8      8     8     8     8     8
o_o   16        0       32    32    32     32     32    32    32    32    32
                1        6     6     6      6      6     6     6     6     6

                       y_2   z_2  atom1_charge  atom2_charge  distance
pairs pairs_enc bond
c_c   0         0     1027  1027          1027          1027      1027
                1      141   141           141           141       141
c_f   1         0       79    79            79            79        79
                1       15    15            15            15        15
c_h   2         0     3174  3174          3174          3174      3174
                1      274   274           274           274       274
c_n   3         0      261   261           261           261       261
                1       21    21            21            21        21
c_o   4         0      355   355           355           355       355
                1       27    27            27            27        27
c_si  5         0        4     4             4             4         4
                1        4     4             4             4         4
f_f   6         0       64    64            64            64        64
f_h   7         0      109   109           109           109       109
                1        1     1             1             1         1
f_o   8         0       25    25            25            25        25
                1        5     5             5             5         5
f_si  9         0        6     6             6             6         6
h_h   10        0     2502  2502          2502          2502      2502
h_n   11        0      307   307           307           307       307
                1       11    11            11            11        11
h_o   12        0      502   502           502           502       502
                1       12    12            12            12        12
h_si  13        0       18    18            18            18        18
n_n   14        0       18    18            18            18        18
                1        6     6             6             6         6
n_o   15        0       44    44            44            44        44
                1        8     8             8             8         8
o_o   16        0       32    32            32            32        32
                1        6     6             6             6         6

In [52]:
classes=data['bond'].unique()
valid_pairs={}
one_class_pairs=[]
for i in data['pairs_enc'].unique():
  if len(data[data['pairs_enc']==i]['bond'].unique())>1:
    len_c0=len(data[(data['pairs_enc']==i) & (data['bond']==classes[0])])
    len_c1=len(data[(data['pairs_enc']==i) & (data['bond']==classes[1])])
    if len_c0>len_c1:
      c=classes[0]
      frac=1-float(len_c1/len_c0)
    else:
      c=classes[1]
      frac=1-float(len_c0/len_c1)
    valid_pairs[i]=[c,frac]
  else:
    one_class_pairs.append(i)

In [53]:
valid_pairs

{0: [0, 0.8627069133398247],
 2: [0, 0.9136735979836169],
 3: [0, 0.9195402298850575],
 11: [0, 0.9641693811074918],
 4: [0, 0.923943661971831],
 12: [0, 0.9760956175298805],
 16: [0, 0.8125],
 15: [0, 0.8181818181818181],
 14: [0, 0.6666666666666667],
 1: [0, 0.810126582278481],
 7: [0, 0.9908256880733946],
 8: [0, 0.8],
 5: [0, 0.0]}

In [54]:
one_class_pairs

[10, 6, 9, 13]

In [56]:
for k,v in valid_pairs.items():
    indices=data[(data['pairs_enc']==k) & (data['bond']==v[0])].sample(frac=v[1]).index
    print(len(indices))
    data.drop(indices,inplace=True)

886
2900
240
296
328
490
26
36
12
64
108
20
0

In [57]:
gb=data.groupby(['pairs','pairs_enc','bond']).count()
gb

                       cid  aid1  aid2  atom1  atom2   x_1   y_1   z_1   x_2  \
pairs pairs_enc bond
c_c   0         0      141   141   141    141    141   141   141   141   141
                1      141   141   141    141    141   141   141   141   141
c_f   1         0       15    15    15     15     15    15    15    15    15
                1       15    15    15     15     15    15    15    15    15
c_h   2         0      274   274   274    274    274   274   274   274   274
                1      274   274   274    274    274   274   274   274   274
c_n   3         0       21    21    21     21     21    21    21    21    21
                1       21    21    21     21     21    21    21    21    21
c_o   4         0       27    27    27     27     27    27    27    27    27
                1       27    27    27     27     27    27    27    27    27
c_si  5         0        4     4     4      4      4     4     4     4     4
                1        4     4     4      4      4     4     4     4     4
f_f   6         0       64    64    64     64     64    64    64    64    64
f_h   7         0        1     1     1      1      1     1     1     1     1
                1        1     1     1      1      1     1     1     1     1
f_o   8         0        5     5     5      5      5     5     5     5     5
                1        5     5     5      5      5     5     5     5     5
f_si  9         0        6     6     6      6      6     6     6     6     6
h_h   10        0     2502  2502  2502   2502   2502  2502  2502  2502  2502
h_n   11        0       11    11    11     11     11    11    11    11    11
                1       11    11    11     11     11    11    11    11    11
h_o   12        0       12    12    12     12     12    12    12    12    12
                1       12    12    12     12     12    12    12    12    12
h_si  13        0       18    18    18     18     18    18    18    18    18
n_n   14        0        6     6     6      6      6     6     6     6     6
                1        6     6     6      6      6     6     6     6     6
n_o   15        0        8     8     8      8      8     8     8     8     8
                1        8     8     8      8      8     8     8     8     8
o_o   16        0        6     6     6      6      6     6     6     6     6
                1        6     6     6      6      6     6     6     6     6

                       y_2   z_2  atom1_charge  atom2_charge  distance
pairs pairs_enc bond
c_c   0         0      141   141           141           141       141
                1      141   141           141           141       141
c_f   1         0       15    15            15            15        15
                1       15    15            15            15        15
c_h   2         0      274   274           274           274       274
                1      274   274           274           274       274
c_n   3         0       21    21            21            21        21
                1       21    21            21            21        21
c_o   4         0       27    27            27            27        27
                1       27    27            27            27        27
c_si  5         0        4     4             4             4         4
                1        4     4             4             4         4
f_f   6         0       64    64            64            64        64
f_h   7         0        1     1             1             1         1
                1        1     1             1             1         1
f_o   8         0        5     5             5             5         5
                1        5     5             5             5         5
f_si  9         0        6     6             6             6         6
h_h   10        0     2502  2502          2502          2502      2502
h_n   11        0       11    11            11            11        11
                1       11    11            11            11        11
h_o   12        0       12    12            12            12        12
                1       12    12            12            12        12
h_si  13        0       18    18            18            18        18
n_n   14        0        6     6             6             6         6
                1        6     6             6             6         6
n_o   15        0        8     8             8             8         8
                1        8     8             8             8         8
o_o   16        0        6     6             6             6         6
                1        6     6             6             6         6

In [58]:
data.shape

(3652, 17)

## Remove examples having only one class
May not contain any information

In [59]:
one_class_pairs

[10, 6, 9, 13]

In [60]:
for i in one_class_pairs:
  indices=data[data['pairs_enc']==i].index
  data.drop(indices,inplace=True)

In [61]:
data.head()

,cid,aid1,aid2,atom1,atom2,x_1,y_1,z_1,x_2,y_2,z_2,atom1_charge,atom2_charge,bond,pairs,pairs_enc,distance
0,6324,1,2,C,C,-0.756,0.0,0.0,0.7560,0.0000,0.0000,0,0,1,c_c,0,1.512000
1,6324,1,3,C,H,-0.756,0.0,0.0,-1.1404,0.6586,0.7845,0,0,1,c_h,2,1.094056
2,6324,1,4,C,H,-0.756,0.0,0.0,-1.1404,0.3501,-0.9626,0,0,1,c_h,2,1.094044
3,6324,1,5,C,H,-0.756,0.0,0.0,-1.1405,-1.0087,0.1781,0,0,1,c_h,2,1.094091
7,6324,2,1,C,C,0.756,0.0,0.0,-0.7560,0.0000,0.0000,0,0,0,c_c,0,1.512000

In [62]:
gb=data.groupby(['pairs','pairs_enc','bond']).count()
gb

                      cid  aid1  aid2  atom1  atom2  x_1  y_1  z_1  x_2  y_2  \
pairs pairs_enc bond
c_c   0         0     141   141   141    141    141  141  141  141  141  141
                1     141   141   141    141    141  141  141  141  141  141
c_f   1         0      15    15    15     15     15   15   15   15   15   15
                1      15    15    15     15     15   15   15   15   15   15
c_h   2         0     274   274   274    274    274  274  274  274  274  274
                1     274   274   274    274    274  274  274  274  274  274
c_n   3         0      21    21    21     21     21   21   21   21   21   21
                1      21    21    21     21     21   21   21   21   21   21
c_o   4         0      27    27    27     27     27   27   27   27   27   27
                1      27    27    27     27     27   27   27   27   27   27
c_si  5         0       4     4     4      4      4    4    4    4    4    4
                1       4     4     4      4      4    4    4    4    4    4
f_h   7         0       1     1     1      1      1    1    1    1    1    1
                1       1     1     1      1      1    1    1    1    1    1
f_o   8         0       5     5     5      5      5    5    5    5    5    5
                1       5     5     5      5      5    5    5    5    5    5
h_n   11        0      11    11    11     11     11   11   11   11   11   11
                1      11    11    11     11     11   11   11   11   11   11
h_o   12        0      12    12    12     12     12   12   12   12   12   12
                1      12    12    12     12     12   12   12   12   12   12
n_n   14        0       6     6     6      6      6    6    6    6    6    6
                1       6     6     6      6      6    6    6    6    6    6
n_o   15        0       8     8     8      8      8    8    8    8    8    8
                1       8     8     8      8      8    8    8    8    8    8
o_o   16        0       6     6     6      6      6    6    6    6    6    6
                1       6     6     6      6      6    6    6    6    6    6

                      z_2  atom1_charge  atom2_charge  distance
pairs pairs_enc bond
c_c   0         0     141           141           141       141
                1     141           141           141       141
c_f   1         0      15            15            15        15
                1      15            15            15        15
c_h   2         0     274           274           274       274
                1     274           274           274       274
c_n   3         0      21            21            21        21
                1      21            21            21        21
c_o   4         0      27            27            27        27
                1      27            27            27        27
c_si  5         0       4             4             4         4
                1       4             4             4         4
f_h   7         0       1             1             1         1
                1       1             1             1         1
f_o   8         0       5             5             5         5
                1       5             5             5         5
h_n   11        0      11            11            11        11
                1      11            11            11        11
h_o   12        0      12            12            12        12
                1      12            12            12        12
n_n   14        0       6             6             6         6
                1       6             6             6         6
n_o   15        0       8             8             8         8
                1       8             8             8         8
o_o   16        0       6             6             6         6
                1       6             6             6         6

In [63]:
data.shape

(1062, 17)

## Drop columns & rearrange columns

In [92]:
data.columns

Index(['cid', 'aid1', 'aid2', 'atom1', 'atom2', 'x_1', 'y_1', 'z_1', 'x_2',
       'y_2', 'z_2', 'atom1_charge', 'atom2_charge', 'bond', 'pairs',
       'pairs_enc', 'distance'],
      dtype='object')

In [94]:
drop_cols=['cid', 'aid1', 'aid2', 'atom1', 'atom2', 'x_1', 'y_1', 'z_1', 'x_2',
            'y_2', 'z_2', 'atom1_charge', 'atom2_charge', 
            'pairs',]

In [95]:
data=data.drop(columns=drop_cols)

In [104]:
data.columns

Index(['bond', 'pairs_enc', 'distance'], dtype='object')

In [105]:
data=data[['pairs_enc','distance','bond']]

In [106]:
data.head()

   pairs_enc  distance  bond
0          0  1.512000     1
1          2  1.094056     1
2          2  1.094044     1
3          2  1.094091     1
7          0  1.512000     0

In [107]:
data.shape

(1062, 3)

# Serialize Data & Preprocessing objects

In [121]:
data.to_csv('data_training.csv',index=False)

In [122]:
test_data=pd.read_csv('data_training.csv')

In [123]:
test_data.head()

   pairs_enc  distance  bond
0          0  1.512000     1
1          2  1.094056     1
2          2  1.094044     1
3          2  1.094091     1
4          0  1.512000     0

In [124]:
test_data.shape

(1062, 3)

In [125]:
test_data.groupby(['pairs_enc','bond']).count()

                distance
pairs_enc bond
0         0          141
          1          141
1         0           15
          1           15
2         0          274
          1          274
3         0           21
          1           21
4         0           27
          1           27
5         0            4
          1            4
7         0            1
          1            1
8         0            5
          1            5
11        0           11
          1           11
12        0           12
          1           12
14        0            6
          1            6
15        0            8
          1            8
16        0            6
          1            6

In [113]:
le.classes_

array(['c_c', 'c_f', 'c_h', 'c_n', 'c_o', 'c_si', 'f_f', 'f_h', 'f_o',
       'f_si', 'h_h', 'h_n', 'h_o', 'h_si', 'n_n', 'n_o', 'o_o'],
      dtype=object)

In [114]:
pickle.dump(le,open('label_encoder.pkl','wb'))

In [115]:
test_le=pickle.load(open('label_encoder.pkl','rb'))

In [116]:
test_le.classes_

array(['c_c', 'c_f', 'c_h', 'c_n', 'c_o', 'c_si', 'f_f', 'f_h', 'f_o',
       'f_si', 'h_h', 'h_n', 'h_o', 'h_si', 'n_n', 'n_o', 'o_o'],
      dtype=object)

# Upload to IBM Object Store

In [119]:
!ls

11269.png      13568.png   243.png     6324.png  6569.png   8058.png
1146.png       137201.png  24529.png   6325.png  67180.png  887.png
11473.png      140746.png  24547.png   6329.png  674.png    931.png
11638.png      14917.png   24823.png   6335.png  69319.png  996.png
11646.png      176.png	   3283.png    6360.png  7845.png   data.csv
12228.png      177.png	   33558.png   6375.png  784.png    data_processed.csv
123257.png     222.png	   5206.png    6386.png  7929.png   label_encoder.pkl
127602.png     240.png	   552549.png  6393.png  8033.png
135504501.png  241.png	   6115.png    6410.png  8053.png

In [117]:
# The code was removed by Watson Studio for sharing.

In [126]:
upload_file_cos(credentials_1,'data_training.csv','data_training.csv')

File Uploaded

In [120]:
upload_file_cos(credentials_1,'label_encoder.pkl','label_encoder.pkl')

File Uploaded