In [77]:
# The code was removed by Watson Studio for sharing.

In [78]:
!rm data_raw.csv
!ls

10390.png      13568.png   24529.png	6325.png   69319.png  887.png
106705.png     137201.png  24547.png	6329.png   74209.png  9237.png
11269.png      140746.png  24823.png	6335.png   74348.png  931.png
1146.png       143710.png  3283.png	6360.png   7732.png   9964.png
11473.png      144018.png  33558.png	6375.png   77628.png  996.png
11638.png      14917.png   5206.png	6386.png   783.png    BASKVILL.TTF
11646.png      176.png	   5365279.png	6393.png   7845.png   data_training.csv
12228.png      177.png	   552549.png	6410.png   784.png    pairs_dict.pkl
12246.png      18196.png   566545.png	6569.png   7929.png
123257.png     222.png	   5962.png	66074.png  7952.png
123502.png     240.png	   6115.png	66978.png  8033.png
127602.png     241.png	   6319.png	67180.png  8053.png
135504501.png  243.png	   6324.png	674.png    8058.png

In [79]:
download_file_cos(credentials_1, 'data_raw.csv', 'data_raw.csv')
!ls

File Downloaded
10390.png      13568.png   24529.png	6325.png   69319.png  887.png
106705.png     137201.png  24547.png	6329.png   74209.png  9237.png
11269.png      140746.png  24823.png	6335.png   74348.png  931.png
1146.png       143710.png  3283.png	6360.png   7732.png   9964.png
11473.png      144018.png  33558.png	6375.png   77628.png  996.png
11638.png      14917.png   5206.png	6386.png   783.png    BASKVILL.TTF
11646.png      176.png	   5365279.png	6393.png   7845.png   data_raw.csv
12228.png      177.png	   552549.png	6410.png   784.png    data_training.csv
12246.png      18196.png   566545.png	6569.png   7929.png   pairs_dict.pkl
123257.png     222.png	   5962.png	66074.png  7952.png
123502.png     240.png	   6115.png	66978.png  8033.png
127602.png     241.png	   6319.png	67180.png  8053.png
135504501.png  243.png	   6324.png	674.png    8058.png

In [80]:
!head -5 data_raw.csv

cid,aid1,aid2,atom1,atom2,x_1,y_1,z_1,x_2,y_2,z_2,atom1_charge,atom2_charge,bond
6324,1,2,C,C,-0.756,0.0,0.0,0.756,0.0,0.0,0,0,1
6324,1,3,C,H,-0.756,0.0,0.0,-1.1404,0.6586,0.7845,0,0,1
6324,1,4,C,H,-0.756,0.0,0.0,-1.1404,0.3501,-0.9626,0,0,1
6324,1,5,C,H,-0.756,0.0,0.0,-1.1405,-1.0087,0.1781,0,0,1

In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

%matplotlib inline

In [82]:
data=pd.read_csv('data_raw.csv')

In [83]:
data.head()

,cid,aid1,aid2,atom1,atom2,x_1,y_1,z_1,x_2,y_2,z_2,atom1_charge,atom2_charge,bond
0,6324,1,2,C,C,-0.756,0.0,0.0,0.7560,0.0000,0.0000,0,0,1
1,6324,1,3,C,H,-0.756,0.0,0.0,-1.1404,0.6586,0.7845,0,0,1
2,6324,1,4,C,H,-0.756,0.0,0.0,-1.1404,0.3501,-0.9626,0,0,1
3,6324,1,5,C,H,-0.756,0.0,0.0,-1.1405,-1.0087,0.1781,0,0,1
4,6324,1,6,C,H,-0.756,0.0,0.0,1.1404,-0.3501,0.9626,0,0,0

In [84]:
data.shape

(27776, 14)

# Replace NaN with 0
NaNs are present due to 2d structures

In [95]:
data=data.fillna(0)

# Pairs

In [85]:
data['pairs']=(data['atom1']+'_'+data['atom2']).apply(lambda x:x.split('_')).apply(sorted).apply(lambda x:'_'.join(x)).apply(str.lower)

In [86]:
data.head()

,cid,aid1,aid2,atom1,atom2,x_1,y_1,z_1,x_2,y_2,z_2,atom1_charge,atom2_charge,bond,pairs
0,6324,1,2,C,C,-0.756,0.0,0.0,0.7560,0.0000,0.0000,0,0,1,c_c
1,6324,1,3,C,H,-0.756,0.0,0.0,-1.1404,0.6586,0.7845,0,0,1,c_h
2,6324,1,4,C,H,-0.756,0.0,0.0,-1.1404,0.3501,-0.9626,0,0,1,c_h
3,6324,1,5,C,H,-0.756,0.0,0.0,-1.1405,-1.0087,0.1781,0,0,1,c_h
4,6324,1,6,C,H,-0.756,0.0,0.0,1.1404,-0.3501,0.9626,0,0,0,c_h

# Label Encode Pairs using dictionary

In [87]:
#not using skleran label encoder
'''
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['pairs_enc']=le.fit_transform(data['pairs'])
data.head()
'''

"\nfrom sklearn.preprocessing import LabelEncoder\nle=LabelEncoder()\ndata['pairs_enc']=le.fit_transform(data['pairs'])\ndata.head()\n"

In [88]:
pairs=list(data['pairs'].unique())
pairs.sort()
pairs

['c_c',
 'c_f',
 'c_h',
 'c_n',
 'c_o',
 'c_si',
 'f_f',
 'f_h',
 'f_n',
 'f_o',
 'f_si',
 'h_h',
 'h_n',
 'h_o',
 'h_si',
 'n_n',
 'n_o',
 'o_o']

In [89]:
pairs_dict={pair:i for i,pair in enumerate(pairs)}

In [90]:
pairs_dict

{'c_c': 0,
 'c_f': 1,
 'c_h': 2,
 'c_n': 3,
 'c_o': 4,
 'c_si': 5,
 'f_f': 6,
 'f_h': 7,
 'f_n': 8,
 'f_o': 9,
 'f_si': 10,
 'h_h': 11,
 'h_n': 12,
 'h_o': 13,
 'h_si': 14,
 'n_n': 15,
 'n_o': 16,
 'o_o': 17}

In [91]:
data['pairs_enc']=data['pairs'].map(pairs_dict)

In [92]:
data.head()

,cid,aid1,aid2,atom1,atom2,x_1,y_1,z_1,x_2,y_2,z_2,atom1_charge,atom2_charge,bond,pairs,pairs_enc
0,6324,1,2,C,C,-0.756,0.0,0.0,0.7560,0.0000,0.0000,0,0,1,c_c,0
1,6324,1,3,C,H,-0.756,0.0,0.0,-1.1404,0.6586,0.7845,0,0,1,c_h,2
2,6324,1,4,C,H,-0.756,0.0,0.0,-1.1404,0.3501,-0.9626,0,0,1,c_h,2
3,6324,1,5,C,H,-0.756,0.0,0.0,-1.1405,-1.0087,0.1781,0,0,1,c_h,2
4,6324,1,6,C,H,-0.756,0.0,0.0,1.1404,-0.3501,0.9626,0,0,0,c_h,2

# Distance

In [29]:
def dist(row):
    return np.sqrt(np.square(row['x_1']-row['x_2'])+np.square(row['y_1']-row['y_2'])+np.square(row['z_1']+row['z_2']))

In [30]:
data['distance']=data.apply(dist,axis=1)

In [31]:
data.head()

,cid,aid1,aid2,atom1,atom2,x_1,y_1,z_1,x_2,y_2,z_2,atom1_charge,atom2_charge,bond,pairs,pairs_enc,distance
0,6324,1,2,C,C,-0.756,0.0,0.0,0.7560,0.0000,0.0000,0,0,1,c_c,0,1.512000
1,6324,1,3,C,H,-0.756,0.0,0.0,-1.1404,0.6586,0.7845,0,0,1,c_h,2,1.094056
2,6324,1,4,C,H,-0.756,0.0,0.0,-1.1404,0.3501,-0.9626,0,0,1,c_h,2,1.094044
3,6324,1,5,C,H,-0.756,0.0,0.0,-1.1405,-1.0087,0.1781,0,0,1,c_h,2,1.094091
4,6324,1,6,C,H,-0.756,0.0,0.0,1.1404,-0.3501,0.9626,0,0,0,c_h,2,2.155343

# Handle Imbalanced Data

In [32]:
data.shape

(27776, 17)

In [33]:
gb=data.groupby(['pairs','pairs_enc','bond']).count()
gb

                       cid  aid1  aid2  atom1  atom2   x_1   y_1   z_1   x_2  \
pairs pairs_enc bond
c_c   0         0     2619  2619  2619   2619   2619  2619  2619  2619  2619
                1      253   253   253    253    253   253   253   253   253
c_f   1         0      118   118   118    118    118   118   118   118   118
                1       18    18    18     18     18    18    18    18    18
c_h   2         0     9672  9672  9672   9672   9672  9672  9672  9672  9672
                1      600   600   600    600    600   600   600   600   600
c_n   3         0      880   880   880    880    880   880   880   880   880
                1      116   116   116    116    116   116   116   116   116
c_o   4         0      661   661   661    661    661   661   661   661   661
                1       45    45    45     45     45    45    45    45    45
c_si  5         0        4     4     4      4      4     4     4     4     4
                1        4     4     4      4      4     4     4     4     4
f_f   6         0       70    70    70     70     70    70    70    70    70
f_h   7         0      145   145   145    145    145   145   145   145   145
                1        1     1     1      1      1     1     1     1     1
f_n   8         0        6     6     6      6      6     6     6     6     6
f_o   9         0       25    25    25     25     25    25    25    25    25
                1        5     5     5      5      5     5     5     5     5
f_si  10        0        6     6     6      6      6     6     6     6     6
h_h   11        0     9275  9275  9275   9275   9275  9275  9275  9274  9275
                1        1     1     1      1      1     1     1     0     1
h_n   12        0     1811  1811  1811   1811   1811  1811  1811  1811  1811
                1       29    29    29     29     29    29    29    29    29
h_o   13        0     1097  1097  1097   1097   1097  1097  1097  1097  1097
                1       19    19    19     19     19    19    19    19    19
h_si  14        0       18    18    18     18     18    18    18    18    18
n_n   15        0       68    68    68     68     68    68    68    68    68
                1        6     6     6      6      6     6     6     6     6
n_o   16        0       98    98    98     98     98    98    98    98    98
                1        8     8     8      8      8     8     8     8     8
o_o   17        0       92    92    92     92     92    92    92    92    92
                1        6     6     6      6      6     6     6     6     6

                       y_2   z_2  atom1_charge  atom2_charge  distance
pairs pairs_enc bond
c_c   0         0     2619  2619          2619          2619      2619
                1      253   253           253           253       253
c_f   1         0      118   118           118           118       118
                1       18    18            18            18        18
c_h   2         0     9672  9672          9672          9672      9672
                1      600   600           600           600       600
c_n   3         0      880   880           880           880       880
                1      116   116           116           116       116
c_o   4         0      661   661           661           661       661
                1       45    45            45            45        45
c_si  5         0        4     4             4             4         4
                1        4     4             4             4         4
f_f   6         0       70    70            70            70        70
f_h   7         0      145   145           145           145       145
                1        1     1             1             1         1
f_n   8         0        6     6             6             6         6
f_o   9         0       25    25            25            25        25
                1        5     5             5             5         5
f_si  10        0        6     6             6             6         6
h_h   11        0     9275  9274          9275          9275      9274
                1        1     0             1             1         0
h_n   12        0     1811  1811          1811          1811      1811
                1       29    29            29            29        29
h_o   13        0     1097  1097          1097          1097      1097
                1       19    19            19            19        19
h_si  14        0       18    18            18            18        18
n_n   15        0       68    68            68            68        68
                1        6     6             6             6         6
n_o   16        0       98    98            98            98        98
                1        8     8             8             8         8
o_o   17        0       92    92            92            92        92
                1        6     6             6             6         6

In [34]:
classes=data['bond'].unique()
valid_pairs={}
one_class_pairs=[]
for i in data['pairs_enc'].unique():
  if len(data[data['pairs_enc']==i]['bond'].unique())>1:
    len_c0=len(data[(data['pairs_enc']==i) & (data['bond']==classes[0])])
    len_c1=len(data[(data['pairs_enc']==i) & (data['bond']==classes[1])])
    if len_c0>len_c1:
      c=classes[0]
      frac=1-float(len_c1/len_c0)
    else:
      c=classes[1]
      frac=1-float(len_c0/len_c1)
    valid_pairs[i]=[c,frac]
  else:
    one_class_pairs.append(i)

In [35]:
valid_pairs

{0: [0, 0.9033982436044292],
 2: [0, 0.9379652605459057],
 11: [0, 0.9998921832884097],
 3: [0, 0.8681818181818182],
 12: [0, 0.9839867476532302],
 4: [0, 0.9319213313161876],
 13: [0, 0.9826800364630811],
 17: [0, 0.9347826086956522],
 16: [0, 0.9183673469387755],
 1: [0, 0.847457627118644],
 7: [0, 0.993103448275862],
 15: [0, 0.9117647058823529],
 9: [0, 0.8],
 5: [0, 0.0]}

In [36]:
one_class_pairs

[6, 8, 10, 14]

In [37]:
for k,v in valid_pairs.items():
    indices=data[(data['pairs_enc']==k) & (data['bond']==v[0])].sample(frac=v[1]).index
    print(len(indices))
    data.drop(indices,inplace=True)

2366
9072
9274
764
1782
616
1078
86
90
100
144
62
20
0

In [38]:
gb=data.groupby(['pairs','pairs_enc','bond']).count()
gb

                      cid  aid1  aid2  atom1  atom2  x_1  y_1  z_1  x_2  y_2  \
pairs pairs_enc bond
c_c   0         0     253   253   253    253    253  253  253  253  253  253
                1     253   253   253    253    253  253  253  253  253  253
c_f   1         0      18    18    18     18     18   18   18   18   18   18
                1      18    18    18     18     18   18   18   18   18   18
c_h   2         0     600   600   600    600    600  600  600  600  600  600
                1     600   600   600    600    600  600  600  600  600  600
c_n   3         0     116   116   116    116    116  116  116  116  116  116
                1     116   116   116    116    116  116  116  116  116  116
c_o   4         0      45    45    45     45     45   45   45   45   45   45
                1      45    45    45     45     45   45   45   45   45   45
c_si  5         0       4     4     4      4      4    4    4    4    4    4
                1       4     4     4      4      4    4    4    4    4    4
f_f   6         0      70    70    70     70     70   70   70   70   70   70
f_h   7         0       1     1     1      1      1    1    1    1    1    1
                1       1     1     1      1      1    1    1    1    1    1
f_n   8         0       6     6     6      6      6    6    6    6    6    6
f_o   9         0       5     5     5      5      5    5    5    5    5    5
                1       5     5     5      5      5    5    5    5    5    5
f_si  10        0       6     6     6      6      6    6    6    6    6    6
h_h   11        0       1     1     1      1      1    1    1    1    1    1
                1       1     1     1      1      1    1    1    0    1    1
h_n   12        0      29    29    29     29     29   29   29   29   29   29
                1      29    29    29     29     29   29   29   29   29   29
h_o   13        0      19    19    19     19     19   19   19   19   19   19
                1      19    19    19     19     19   19   19   19   19   19
h_si  14        0      18    18    18     18     18   18   18   18   18   18
n_n   15        0       6     6     6      6      6    6    6    6    6    6
                1       6     6     6      6      6    6    6    6    6    6
n_o   16        0       8     8     8      8      8    8    8    8    8    8
                1       8     8     8      8      8    8    8    8    8    8
o_o   17        0       6     6     6      6      6    6    6    6    6    6
                1       6     6     6      6      6    6    6    6    6    6

                      z_2  atom1_charge  atom2_charge  distance
pairs pairs_enc bond
c_c   0         0     253           253           253       253
                1     253           253           253       253
c_f   1         0      18            18            18        18
                1      18            18            18        18
c_h   2         0     600           600           600       600
                1     600           600           600       600
c_n   3         0     116           116           116       116
                1     116           116           116       116
c_o   4         0      45            45            45        45
                1      45            45            45        45
c_si  5         0       4             4             4         4
                1       4             4             4         4
f_f   6         0      70            70            70        70
f_h   7         0       1             1             1         1
                1       1             1             1         1
f_n   8         0       6             6             6         6
f_o   9         0       5             5             5         5
                1       5             5             5         5
f_si  10        0       6             6             6         6
h_h   11        0       1             1             1         1
                1       0             1             1         0
h_n   12        0      29            29            29        29
                1      29            29            29        29
h_o   13        0      19            19            19        19
                1      19            19            19        19
h_si  14        0      18            18            18        18
n_n   15        0       6             6             6         6
                1       6             6             6         6
n_o   16        0       8             8             8         8
                1       8             8             8         8
o_o   17        0       6             6             6         6
                1       6             6             6         6

In [39]:
data.shape

(2322, 17)

## Remove examples having only one class
May not contain any information

In [40]:
one_class_pairs

[6, 8, 10, 14]

In [41]:
for i in one_class_pairs:
  indices=data[data['pairs_enc']==i].index
  data.drop(indices,inplace=True)

In [42]:
data.head()

,cid,aid1,aid2,atom1,atom2,x_1,y_1,z_1,x_2,y_2,z_2,atom1_charge,atom2_charge,bond,pairs,pairs_enc,distance
0,6324,1,2,C,C,-0.756,0.0,0.0,0.7560,0.0000,0.0000,0,0,1,c_c,0,1.512000
1,6324,1,3,C,H,-0.756,0.0,0.0,-1.1404,0.6586,0.7845,0,0,1,c_h,2,1.094056
2,6324,1,4,C,H,-0.756,0.0,0.0,-1.1404,0.3501,-0.9626,0,0,1,c_h,2,1.094044
3,6324,1,5,C,H,-0.756,0.0,0.0,-1.1405,-1.0087,0.1781,0,0,1,c_h,2,1.094091
8,6324,2,3,C,H,0.756,0.0,0.0,-1.1404,0.6586,0.7845,0,0,0,c_h,2,2.155349

In [43]:
gb=data.groupby(['pairs','pairs_enc','bond']).count()
gb

                      cid  aid1  aid2  atom1  atom2  x_1  y_1  z_1  x_2  y_2  \
pairs pairs_enc bond
c_c   0         0     253   253   253    253    253  253  253  253  253  253
                1     253   253   253    253    253  253  253  253  253  253
c_f   1         0      18    18    18     18     18   18   18   18   18   18
                1      18    18    18     18     18   18   18   18   18   18
c_h   2         0     600   600   600    600    600  600  600  600  600  600
                1     600   600   600    600    600  600  600  600  600  600
c_n   3         0     116   116   116    116    116  116  116  116  116  116
                1     116   116   116    116    116  116  116  116  116  116
c_o   4         0      45    45    45     45     45   45   45   45   45   45
                1      45    45    45     45     45   45   45   45   45   45
c_si  5         0       4     4     4      4      4    4    4    4    4    4
                1       4     4     4      4      4    4    4    4    4    4
f_h   7         0       1     1     1      1      1    1    1    1    1    1
                1       1     1     1      1      1    1    1    1    1    1
f_o   9         0       5     5     5      5      5    5    5    5    5    5
                1       5     5     5      5      5    5    5    5    5    5
h_h   11        0       1     1     1      1      1    1    1    1    1    1
                1       1     1     1      1      1    1    1    0    1    1
h_n   12        0      29    29    29     29     29   29   29   29   29   29
                1      29    29    29     29     29   29   29   29   29   29
h_o   13        0      19    19    19     19     19   19   19   19   19   19
                1      19    19    19     19     19   19   19   19   19   19
n_n   15        0       6     6     6      6      6    6    6    6    6    6
                1       6     6     6      6      6    6    6    6    6    6
n_o   16        0       8     8     8      8      8    8    8    8    8    8
                1       8     8     8      8      8    8    8    8    8    8
o_o   17        0       6     6     6      6      6    6    6    6    6    6
                1       6     6     6      6      6    6    6    6    6    6

                      z_2  atom1_charge  atom2_charge  distance
pairs pairs_enc bond
c_c   0         0     253           253           253       253
                1     253           253           253       253
c_f   1         0      18            18            18        18
                1      18            18            18        18
c_h   2         0     600           600           600       600
                1     600           600           600       600
c_n   3         0     116           116           116       116
                1     116           116           116       116
c_o   4         0      45            45            45        45
                1      45            45            45        45
c_si  5         0       4             4             4         4
                1       4             4             4         4
f_h   7         0       1             1             1         1
                1       1             1             1         1
f_o   9         0       5             5             5         5
                1       5             5             5         5
h_h   11        0       1             1             1         1
                1       0             1             1         0
h_n   12        0      29            29            29        29
                1      29            29            29        29
h_o   13        0      19            19            19        19
                1      19            19            19        19
n_n   15        0       6             6             6         6
                1       6             6             6         6
n_o   16        0       8             8             8         8
                1       8             8             8         8
o_o   17        0       6             6             6         6
                1       6             6             6         6

In [44]:
data.shape

(2222, 17)

## Drop columns & rearrange columns

In [45]:
data.columns

Index(['cid', 'aid1', 'aid2', 'atom1', 'atom2', 'x_1', 'y_1', 'z_1', 'x_2',
       'y_2', 'z_2', 'atom1_charge', 'atom2_charge', 'bond', 'pairs',
       'pairs_enc', 'distance'],
      dtype='object')

In [46]:
drop_cols=['cid', 'aid1', 'aid2', 'atom1', 'atom2', 'x_1', 'y_1', 'z_1', 'x_2',
            'y_2', 'z_2', 'atom1_charge', 'atom2_charge', 
            'pairs',]

In [47]:
data=data.drop(columns=drop_cols)

In [48]:
data.columns

Index(['bond', 'pairs_enc', 'distance'], dtype='object')

In [49]:
data=data[['pairs_enc','distance','bond']]

In [50]:
data.head()

   pairs_enc  distance  bond
0          0  1.512000     1
1          2  1.094056     1
2          2  1.094044     1
3          2  1.094091     1
8          2  2.155349     0

In [51]:
data.shape

(2222, 3)

# Serialize Data & Preprocessing objects

In [57]:
data.to_csv('data_training.csv',index=False)

In [58]:
test_data=pd.read_csv('data_training.csv')

In [59]:
test_data.head()

   pairs_enc  distance  bond
0          0  1.512000     1
1          2  1.094056     1
2          2  1.094044     1
3          2  1.094091     1
4          2  2.155349     0

In [60]:
test_data.shape

(2222, 3)

In [61]:
test_data.groupby(['pairs_enc','bond']).count()

                distance
pairs_enc bond
0         0          253
          1          253
1         0           18
          1           18
2         0          600
          1          600
3         0          116
          1          116
4         0           45
          1           45
5         0            4
          1            4
7         0            1
          1            1
9         0            5
          1            5
11        0            1
          1            0
12        0           29
          1           29
13        0           19
          1           19
15        0            6
          1            6
16        0            8
          1            8
17        0            6
          1            6

In [62]:
pairs_dict

{'c_c': 0,
 'c_f': 1,
 'c_h': 2,
 'c_n': 3,
 'c_o': 4,
 'c_si': 5,
 'f_f': 6,
 'f_h': 7,
 'f_n': 8,
 'f_o': 9,
 'f_si': 10,
 'h_h': 11,
 'h_n': 12,
 'h_o': 13,
 'h_si': 14,
 'n_n': 15,
 'n_o': 16,
 'o_o': 17}

In [63]:
pickle.dump(le,open('pairs_dict.pkl','wb'))

In [64]:
test_le=pickle.load(open('pairs_dict.pkl','rb'))

In [65]:
pairs_dict

{'c_c': 0,
 'c_f': 1,
 'c_h': 2,
 'c_n': 3,
 'c_o': 4,
 'c_si': 5,
 'f_f': 6,
 'f_h': 7,
 'f_n': 8,
 'f_o': 9,
 'f_si': 10,
 'h_h': 11,
 'h_n': 12,
 'h_o': 13,
 'h_si': 14,
 'n_n': 15,
 'n_o': 16,
 'o_o': 17}

# Upload to IBM Object Store

In [66]:
!ls

10390.png      13568.png   24529.png	6325.png   69319.png  887.png
106705.png     137201.png  24547.png	6329.png   74209.png  9237.png
11269.png      140746.png  24823.png	6335.png   74348.png  931.png
1146.png       143710.png  3283.png	6360.png   7732.png   9964.png
11473.png      144018.png  33558.png	6375.png   77628.png  996.png
11638.png      14917.png   5206.png	6386.png   783.png    BASKVILL.TTF
11646.png      176.png	   5365279.png	6393.png   7845.png   data_raw.csv
12228.png      177.png	   552549.png	6410.png   784.png    data_training.csv
12246.png      18196.png   566545.png	6569.png   7929.png   pairs_dict.pkl
123257.png     222.png	   5962.png	66074.png  7952.png
123502.png     240.png	   6115.png	66978.png  8033.png
127602.png     241.png	   6319.png	67180.png  8053.png
135504501.png  243.png	   6324.png	674.png    8058.png

In [67]:
# The code was removed by Watson Studio for sharing.

In [68]:
upload_file_cos(credentials_1,'data_training.csv','data_training.csv')

File Uploaded

In [69]:
upload_file_cos(credentials_1,'pairs_dict.pkl','pairs_dict.pkl')

File Uploaded

## Upload Label Encoder to Coursera/Kaggle project bucket

In [71]:
# The code was removed by Watson Studio for sharing.

In [72]:
upload_file_cos(credentials_2,'pairs_dict.pkl','pairs_dict.pkl')

File Uploaded

In [73]:
download_file_cos(credentials_1,'pairs_dict.pkl','pairs_dict.pkl')

File Downloaded

In [74]:
!ls

10390.png      13568.png   24529.png	6325.png   69319.png  887.png
106705.png     137201.png  24547.png	6329.png   74209.png  9237.png
11269.png      140746.png  24823.png	6335.png   74348.png  931.png
1146.png       143710.png  3283.png	6360.png   7732.png   9964.png
11473.png      144018.png  33558.png	6375.png   77628.png  996.png
11638.png      14917.png   5206.png	6386.png   783.png    BASKVILL.TTF
11646.png      176.png	   5365279.png	6393.png   7845.png   data_raw.csv
12228.png      177.png	   552549.png	6410.png   784.png    data_training.csv
12246.png      18196.png   566545.png	6569.png   7929.png   pairs_dict.pkl
123257.png     222.png	   5962.png	66074.png  7952.png
123502.png     240.png	   6115.png	66978.png  8033.png
127602.png     241.png	   6319.png	67180.png  8053.png
135504501.png  243.png	   6324.png	674.png    8058.png